In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('Dhruv.csv')
df.insert(1,'window_number','')
df.head()

,iteration_number,window_number,acc_x_vals,acc_y_vals,acc_z_vals,gyro_x_vals,gyro_y_vals,gyro_z_vals,activity_name,timestamp
0,1,,-1.225,5.267,8.481,-0.010,-0.129,-0.064,Sitting,1665778018236
1,1,,-1.453,4.930,8.380,-0.046,-0.121,0.000,Sitting,1665778018475
2,1,,-1.024,4.877,8.972,0.141,-0.279,0.035,Sitting,1665778018712
3,1,,-0.689,5.217,7.743,-0.285,0.007,0.245,Sitting,1665778018951
4,1,,-0.308,5.169,8.406,-0.175,0.067,0.227,Sitting,1665778019189

In [14]:
df.iloc[0].activity_name

'Sitting'

In [14]:


def segment(df):
  segmented=pd.DataFrame(columns=df.columns)
  i=0
  window=0
  last='Sitting'
  while(i<945):
    cur=i

    a=df.iloc[cur].activity_name
    t=df.iloc[cur].timestamp+2000
    acc_x=[]
    acc_y=[]
    acc_z=[]
    gyro_x=[]
    gyro_y=[]
    gyro_z=[]
    if last!=df.iloc[cur].activity_name:
      window=0
    
    while(i<945 and df.iloc[i].activity_name==a and df.iloc[i].timestamp<t):
      acc_x.append(df.iloc[i].acc_x_vals)
      acc_y.append(df.iloc[i].acc_y_vals)
      acc_z.append(df.iloc[i].acc_z_vals)
      gyro_x.append(df.iloc[i].gyro_x_vals)
      gyro_y.append(df.iloc[i].gyro_y_vals)
      gyro_z.append(df.iloc[i].gyro_z_vals)
      i+=1
    last=df.iloc[cur].activity_name
    window+=1
    #print(df.iloc[cur].timestamp,df.iloc[cur].ExactDate)
    segmented = segmented.append({'iteration_number' : df.iloc[cur].iteration_number ,'window_number' :window, 'acc_x_vals' : acc_x, 'acc_y_vals' : acc_y, 'acc_z_vals' : acc_z, 'gyro_x_vals': gyro_x, 'gyro_y_vals': gyro_y, 'gyro_z_vals': gyro_z, 'activity_name': df.iloc[cur].activity_name, 'timestamp': df.iloc[cur].timestamp },
        ignore_index = True)
  return segmented

In [15]:

segment(df).to_csv('dataset.csv',index=False)